#content {
  font-family: var(--font-family);
}

body {
    font-family: var(--font-family);
    font-size: 12pt;
    color: var(--text-color);
    background: var(--background-color);
}

code {
    font-family: var(--font-code);
    font-size: 10pt;
    color: var(--text-color);
    background: var(--background-color);
}

#content h1 {
    color: var(--main-color);
    text-align: center;
    margin-top: 1em;
    font-size: 16pt;
}

h2 {
    color: var(--main-color-light);
    margin-top: 1em;
    font-size: 14pt;
}  


largertitle {
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    border-bottom: 3px solid;
    border-color: var(--text-color);
    padding-top: .5em;
    padding-bottom: .5em;
    display: block;
    width: 100%; 
}  

.largertitle {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    padding-top: .25em;
    padding-bottom: .25em;
}  

a {
    color: var(--main-color);
}

a:visited{
    color: var(--main-color);
}

.topnav {
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 3px;
  right: 3px;
  background: linear-gradient(to bottom, var(--main-color) 0%, var(--main-color-light) 100%);
  color: #fff;
  font-size: 16px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  padding: 7px 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3),  /* top highlight */
    inset 0 -1px 0 rgba(0, 0, 0, 0.3),       /* bottom inset */
    0 2px 6px rgba(0, 0, 0, 0.4);            /* outer shadow */
  max-height: 36px;
  overflow: auto;
  white-space: nowrap;
  margin: 0 auto;
  z-index: 1000;
}

.topnav a {
    color: var(--secondary-color);
    text-align: center;
    padding: 7px 12px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

.topnav a:visited {
    color: var(--secondary-color);
}

.topnav a:hover {
    background: linear-gradient(to bottom, var(--secondary-color) 0%, var(--secondary-light) 100%);
    color: var(--main-color-light);
    box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(0, 0, 0, 0.5),
    0 2px 6px rgba(0, 0, 0, 0.5);
}


.topnav a:active {
    background: linear-gradient(to top, var(--secondary-color) 0%, var(--secondary-light) 100%);
    color: var(--main-color-light);
    box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(0, 0, 0, 0.5),
    0 2px 6px rgba(0, 0, 0, 0.5);
    transform: translateY(0.25px);
}

.topnav a.active {
    background: linear-gradient(to top, var(--secondary-color) 0%, var(--secondary-light) 100%);
    color: var(--text-color);
    cursor: default;
    box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(0, 0, 0, 0.5),
    0 2px 6px rgba(0, 0, 0, 0.5);
    transform: translateY(0.25px);
}

.topnav a.logo {
    padding: 0;
}

.topnav a.logo img {
    vertical-align: middle;
    height: 25px;
    width: 25px;
}

.navbar-print {
  display: none;
}

.botnav {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  left: 3px;
  right: 3px;
  background: linear-gradient(to bottom, var(--secondary-color) 0%, var(--secondary-light) 100%); 
  color: var(--text-color);
  font-size: 16px;
  text-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.6);
  padding: 8px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(0, 0, 0, 0.3),
    0 -2px 6px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  max-height: 35px;
  overflow: auto;
  white-space: nowrap;
  z-index: 1000;
}

.botnav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  pointer-events: none;
}


.botnav a {
    color: var(--main-color);
}

.botnav a:visited {
    color: var(--main-color);
}

.column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#content {
	margin: 0 auto;
	max-width: 64em;
}

.vfill {
    flex: 1;
}


button {
    font-family: var(--font-family);
    font-size: 16px;
    padding: 10px 25px;
    color: var(--secondary-color);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  
    background: linear-gradient(to bottom, var(--main-color) 0%, var(--main-color-light) 100%);
    border: 1px solid var(--main-color);
    border-radius: 8px;
    box-shadow: 
        inset 0 1px 0 rgba(255, 255, 255, 0.3),
        inset 0 -1px 0 rgba(0, 0, 0, 0.3),
        0 2px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.2s ease;
    overflow: hidden;
    transform: translateY(0px);
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    pointer-events: none;
}

button:hover {
    background: linear-gradient(to bottom, var(--main-color-light) 0%, var(--main-color) 100%);
    box-shadow: 
        inset 0 1px 0 rgba(255, 255, 255, 0.3),
        inset 0 -1px 0 rgba(0, 0, 0, 0.5),
        0 5px 10px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
}

button:active {
    background: linear-gradient(to bottom, var(--main-color-light) 0%, var(--main-color) 100%);
    box-shadow: 
        inset 0 2px 3px rgba(0, 0, 0, 0.5),
        inset 0 -3px 4px rgba(0, 0, 0, 0.6),
        0 1px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
}

button:disabled {
    background-color: #4a5253; 
    color: #443f39;
    cursor: default;
}

textarea {
    font-family: var(--font-family);
    font-size: 12px;
    width: 75%;
    margin: 0 auto 0 auto;  
    display: block; 
    resize: none;
    height: auto;
    overflow: hidden;
}

input {
    font-family: var(--font-family);
    font-size: 12px;
}

.button-wrapper {
    display: flex;
    align-items: center;  
    justify-content: flex-start;
    width: 120px;
}

.button-wrapper span {
    margin-right: 10px;
    font-size: 16px;
}

.buttons-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    width: 100%;
}

.switch {
    display: inline-flex;
    align-items: center;  
    justify-content: center;
    position: relative;
    width: 70px;
    height: 34px;
    overflow: hidden;
}

/* Hide the default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider/round button */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bebdbc;
    transition: 0.4s;
    border-radius: 34px;
}

/* The circle inside the switch, initially with a background image */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-image: url('/logos/no.png');
    background-size: cover;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #e2cf72;
}

input:checked + .slider:before {
    transform: translateX(25px);
    background-image: url('/logos/yes.png');
}
.choices input {
    margin-right: 10px;
}

#timer {
    position: fixed;
    top: 60px;
    left: 3px;
    background-color: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 1000;
}

#login {
  position: fixed;
  top: 60px;
  right: 3px;
  background: linear-gradient(to bottom, var(--secondary-color) 0%, var(--secondary-light) 100%); /* Soft light gradient */
  color: var(--main-color); /* Dark brown text */
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3), /* top inner highlight */
    inset 0 -1px 0 rgba(0, 0, 0, 0.3),     /* bottom inner shadow */
    0 2px 6px rgba(0, 0, 0, 0.4);          /* outer shadow */
  z-index: 1000;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); /* Subtle text shadow for embossed look */
  display: inline-block;
  transition: all 0.2s ease; /* For smooth hover and active transitions */
}

#login:hover {
  background: linear-gradient(to bottom, var(--secondary-light) 0%, var(--secondary-color) 100%); /* Inverse gradient on hover */
  box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(0, 0, 0, 0.5),
    0 2px 6px rgba(0, 0, 0, 0.5); /* Slightly darker shadow for hover effect */
}

#login:active {
  background: linear-gradient(to bottom, var(--secondary-light) 0%, var(--secondary-color) 100%); /* Active state with inverse gradient */
  box-shadow: 
    inset 0 2px 3px rgba(0, 0, 0, 0.5),  /* Deeper inner shadow for active press effect */
    inset 0 -3px 4px rgba(0, 0, 0, 0.6), /* Stronger bottom inner shadow */
    0 1px 4px rgba(0, 0, 0, 0.5);        /* More pronounced outer shadow */
  transform: translateY(2px); /* Simulate the pressing down effect */
}

#lang {
    position: fixed;
    bottom: 60px;
    right: 3px;
    background: linear-gradient(to bottom, var(--text-color) 0%, var(--text-color-dark) 100%); 
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    text-align: center;
    color: var(--secondary-light);
    padding: 5px 5px;
    border-radius: 8px;
    box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(0, 0, 0, 0.3),
    0 2px 6px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    text-decoration: none;
    text-shadow: 0 0.75px 0 rgba(255, 255, 255, 0.4);
    display: inline-block;
    transition: all 0.2s ease;
    cursor: pointer;
    user-select: none;
}

#lang:hover {
    background: linear-gradient(to bottom, var(--text-color) 0%, var(--text-color-dark)); 
    box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(0, 0, 0, 0.5),
    0 2px 6px rgba(0, 0, 0, 0.5);
}

#lang:active {
    background: linear-gradient(to bottom, var(--text-color-dark) 0%, var(--text-color));
    box-shadow: 
    inset 0 2px 3px rgba(0, 0, 0, 0.5),
    inset 0 -3px 4px rgba(0, 0, 0, 0.6),
    0 1px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
    cursor: pointer;
}

.exam-container {
    width: 80%; /* Or set to a specific pixel value, like 600px */
    max-width: 800px; /* Max width of the container */
    margin: 0 auto; /* Centers the container */
    padding: 20px;
    box-sizing: border-box; 
}

.login-grid {
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    max-width: 500px;
    background:rgb(245, 242, 221);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 0.5px solid var(--main-color);
}

th {
    background-color: var(--main-color);
    color: var(--secondary-light);
    padding: 8px;
}

td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--secondary-light);
}

tr:nth-child(odd) {
    background-color: var(--secondary-color);
}

@media print {
  .topnav {
    display: none !important;
  }

  .break {
    display: none !important;
  }

  .navbar-print {
    background-color: #ffffff !important;
    color: var(--main-color) !important;
    display: block !important;
    margin-bottom: 20px;
  }

  th {
    background-color: #ffffff !important;
    color: var(--main-color) !important;
    padding: 8px;
}
}

#dynamic-island {
    position: fixed;
    top: 60px;
    left: 50%;
    background: linear-gradient(to bottom, var(--text-color) 0%, var(--text-color-dark) 100%); 
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    text-align: center;
    color: var(--secondary-light);
    padding: 5px 5px;
    border-radius: 8px;
    box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(0, 0, 0, 0.3),
    0 2px 6px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    text-decoration: none;
    text-shadow: 0 0.75px 0 rgba(255, 255, 255, 0.4);
    display: inline-block;
    transition: all 0.2s ease;
    cursor: pointer;
    user-select: none;
}

#dynamic-island:hover {
    background: linear-gradient(to bottom, var(--text-color) 0%, var(--text-color-dark)); 
    box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(0, 0, 0, 0.5),
    0 2px 6px rgba(0, 0, 0, 0.5);
}

#dynamic-island:active {
    background: linear-gradient(to bottom, var(--text-color-dark) 0%, var(--text-color));
    box-shadow: 
    inset 0 2px 3px rgba(0, 0, 0, 0.5),
    inset 0 -3px 4px rgba(0, 0, 0, 0.6),
    0 1px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
    cursor: pointer;
}

#day-night {
    position: fixed;
    bottom: 60px;
    left: 3px;
    background: linear-gradient(to bottom, var(--text-color) 0%, var(--text-color-dark) 100%); 
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    text-align: center;
    color: var(--secondary-light);
    padding: 5px 5px;
    border-radius: 8px;
    box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(0, 0, 0, 0.3),
    0 2px 6px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    text-decoration: none;
    text-shadow: 0 0.75px 0 rgba(255, 255, 255, 0.4);
    display: inline-block;
    transition: all 0.2s ease;
    cursor: pointer;
    user-select: none;
}

#day-night:hover {
    background: linear-gradient(to bottom, var(--text-color) 0%, var(--text-color-dark)); 
    box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(0, 0, 0, 0.5),
    0 2px 6px rgba(0, 0, 0, 0.5);
}

#day-night:active {
    background: linear-gradient(to bottom, var(--text-color-dark) 0%, var(--text-color));
    box-shadow: 
    inset 0 2px 3px rgba(0, 0, 0, 0.5),
    inset 0 -3px 4px rgba(0, 0, 0, 0.6),
    0 1px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
    cursor: pointer;
}