:root {
    --dark-color:  #6b4a1f; 
    --dark-light: #5a3a14;
    --light-color: #f7ed9f; 
    --light-light: #e2d8b7;

    --font-family: 'Merriweather', serif, 'Yuanti SC', 'Microsoft YaHei', sans-serif;
    --font-code: "Lucida Console", monospace;
}