<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/logos/favicon.png">
</head>
<body>
    <div id="content" style="text-align: left;">
        <div class="topnav">
            Bear Resort | 
            <a href="/index.html">Home</a> | 
            <a href="/archive/archive.html">???</a> |
            <a href="/legal/BR-citation.pdf">Court Citation</a> |
            <a href="/emoji/emoji.html">Emoji</a>
        </div>
        <br>
        <br>
        <largertitle>{{ page.title }}</largertitle>
    <br><br>
    {{ content }}
    Contact us with <a href="mailto:bear.resort.01@gmail.com">email</a>. 联系我们通过<a href="mailto:bear.resort.01@gmail.com">电邮</a>
</div>
</body>
</html>