<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/logos/favicon.png">
</head>
<body>
    <div style="text-align: center;">
        <div class="topnav">
            Bear Resort | 
            <a href="/index.html">Home</a> | 
            <a href="/???.html">???</a> |
            <a href="/legal/BR-citation.pdf">Court Citation</a> |
            <a href="emoji/emoji.html">Emoji</a>
        </div>
        <br>
        <br>
        <largertitle>{{ page.title }}</largertitle>
    </div>
    <br><br>
    {{ content }}
</body>
</html>