<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/logos/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
</head>
<body>

    <script type="module" src="/assets/js/login.js"></script>

    <div class="topnav" style="text-align: center;">
        <img src="/logos/default-bear.gif" width="25" height="25" style="vertical-align: middle;"> &nbsp;
        <a href="/index.html">Bear Resort</a> | 
        <a href="/archive/archive.html">Archive</a> |
        <a href="/mathland/mathland.html">Mathland</a> |
        <a href="/legal/legal.html">Legal</a> |
        <a href="/emoji/emoji.html">Emoji</a> |
        <a href="/fans_only/fans-only.html">Fans Only</a> |
        <a href="https://www.instagram.com/bear_resort/" target="_blank">Instagram</a> 
    </div>
    
    <div id="content" style="text-align: left;">

        <div style="text-align: center;">
            <largertitle>{{ page.title }}</largertitle>
        </div>

        <br>

        {{ content }}

        <br>
        <br>
        <br>

        <footer>
            Contact us with <a href="mailto:bear.resort.01@gmail.com">email</a>. 联系我们通过<a href="mailto:bear.resort.01@gmail.com">电邮</a>。
        </footer>

        <a href="/assets/html/login.html" id="login">Log in</a>

    </div>
    <script src="/assets/js/link.js"></script>
    <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@1.3.1/dist/forge.min.js"></script>

    <script src="/assets/js/login.js"></script>

    <script src="/assets/js/listener.js"></script>
</body>

</html>